@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    font-family: 'poppins';
    font-size: 26px;
    overflow-x: hidden;
}

nav {
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 8px;
}

.lg-block {
    display: flex;
    align-items: center;


}

li {
    list-style-type: none;
    padding: 5px;


}

li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}


h4{
    padding-top: 7px;
    padding-left: 6px;
}



#dash {
    display: none;
    align-self: center;
}

.sm-block {
    display: none;
    color: #fff;
    background-color: #000;
}




.container {
    background-color: aliceblue;
    margin-top: 5px;
}

.im {
    display: flex;

}

.imag {
    width: 100%;
    height: 400px;
    margin-top: 50px;
    margin-left: 55px;
    padding: 20px;
    border-radius: 100%;
}




.hp {
    margin-top: 40px;
    margin-left: 50px;
}

p {
    margin-top: 20px;
}


h3{
    
    margin-top: 40px;
}

@media(max-width : 480px) {
    body {
        background-color: lightsalmon;
    }

    .sm-block {
        display: none;
        color: #fff;
        background-color: #000;
    }

    #dash {
        display: block;
        align-self: center;
    }

    .lg-block {
        display: none;
        align-items: center;


    }

    .imag {
        width: 70%;
        height: 150px;
        margin-left: 25px;
        padding: 10px;
    }

    .container {
        width: 100%;
height: auto;
    }

}

.btn{
    margin-left: 50px;
    margin-top: 40px;
    height: 50px;
    width:250px;
    border: 2px solid black;
    border-radius: 6px;
    font-size: 18px;
    background-color: rgb(161, 206, 249);
}

@media (min-width : 480px) and (max-width : 1000px) {
    body {
        background-color: powderblue;
    }

    .container {
        width: 100%;
    }

    .imag {
        width: 90%;
        height: 290px;
        margin-left: 22px;
        padding: 13px;
    }
    .btn{
        background-color: rgb(30, 142, 240);
    }


}

@media (min-width : 1000px) and (max-width : 1300px) {
    body {
        background-color: rgb(224, 59, 103);
    }

    .container {
        width: 100%;
    }

    .imag {
        width: 95%;
        height: 320px;
        margin-left: 29px;
        padding: 16px;
    }

    .btn{
        background-color: rgb(245, 100, 100);
    }
}

@media (min-width : 1300px) and (max-width : 1600px) {
    body {
        background-color: limegreen;
    }

    .container {
        width: 100%;
    }

    .imag {
        width: 100%;
        height: 400px;
        margin-left: 55px;
        padding: 20px;
    }
    .btn{
        background-color: rgb(244, 136, 96);
    }
}
 
