body {
    color: beige;
}

.box-1 {
    background-color: antiquewhite;
    border: 2px solid black;
    border-radius: 3px;
    height: 1300px;
    width: 90%;
    margin-left: 63px;
    margin-top: 30px;
}

.heading {
    color: black;
    text-align: center;
}

.btn1 {

    background-color: white;
    height: 50px;
    width: 160px;
    margin-left: 200px;
    border: 2px solid black;
    border-radius: 4px;
    margin-top: 20px;
    font-size: 20px;
}

.btn2 {
    background-color: white;
    height: 50px;
    width: 160px;
    margin-left: 200px;
    border: 2px solid black;
    border-radius: 4px;
    margin-top: 20px;
    font-size: 20px;
}

.btn3 {
    background-color: white;
    height: 50px;
    width: 160px;
    margin-left: 210px;
    border: 2px solid black;
    border-radius: 4px;
    margin-top: 35px;
    font-size: 20px;
}

.box-2 {
    background-color: rgb(235, 209, 175);
    width: 95%;
    margin-left: 30px;
    margin-top: 60px;
    height: 230px;
}

.lb {
    font-size: 20px;
    color: black;
    padding-left: 40px;

}

.inp {
    width: 75%;
    height: 35px;
    padding-left: 40px;
    border: 2px solid black;
    border-radius: 4px;
    font-size: 18px;
}

.h2 {
    color: black;
    padding-left: 40px;

}

.btn4 {
    background-color: white;
    height: 50px;
    width: 160px;
    margin-left: 570px;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 4px;
}

.btn4:hover {
    background-color: rgb(243, 188, 117);
}

.calci {
    height: 600px;
    width: 95%;
    margin-left: 30px;
    margin-top: 110px;
    background-color: rgb(214, 188, 154);
}

.btn5 {
    background-color: white;
    height: 50px;
    width: 160px;
    margin-left: 570px;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 4px;
}

#result {
    /* background-color: white; */
    width: 90%;
    margin-left: 45px;
    height: 35px;
    color: black;
    border: 2px solid black;
    border-radius: 4px;
    font-size: 20px;
    height: 40px;
    padding-top: 15px;
    padding-left: 30px;
}